.projects-page {
  padding: 100px 8%;
  color: white;
}

/* HERO */
.projects-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 120px;
}

.hero-content h1 {
  font-size: 42px;
  margin: 20px 0;
  line-height: 1.2;
}

.hero-content span {
  color: #00eaff;
}

.hero-content p {
  max-width: 500px;
  color: #b6e9f0;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.primary-btn {
  background: #00eaff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-btn {
  background: transparent;
  border: 1px solid #00eaff;
  color: #00eaff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* HERO IMAGE */
.hero-image img {
  width: 450px;
  border-radius: 20px;
}

/* PROJECT SECTION */
.projects-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.section-desc {
  color: #b6e9f0;
  margin-bottom: 30px;
}

/* FILTER */
.filter-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.filter {
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid rgba(0, 234, 255, 0.3);
  background: transparent;
  color: #b6e9f0;
  cursor: pointer;
}

.filter.active,
.filter:hover {
  background: #00eaff;
  color: #021114;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-card {
  background: #111827;
  border: 1px solid #1F2937;
  border-radius: 12px;
  padding: 20px;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.category {
  font-size: 12px;
  color: #00eaff;
}

.card-content h3 {
  margin: 10px 0;
}

.card-content p {
  font-size: 14px;
  color: #b6e9f0;
}