.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(2, 17, 20, 0.7);
  backdrop-filter: blur(12px);
  z-index: 1000;
}

.logo a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #b6e9f0;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00eaff;
}

.nav-links a.active {
  color: #00eaff;
  border-bottom: 2px solid #00eaff;
  padding-bottom: 4px;
}

.hire-btn {
  background: #00eaff;
  color: #021114;
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.hire-btn:hover {
  transform: translateY(-2px);
}