.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;

  padding: 25px 8%;

  z-index: 1000;

  background: transparent;
  backdrop-filter: blur(10px);
}

.navbar.scrolled {
  background: rgba(2, 17, 20, 0.95);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #d7f9ff;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00e0ff;
}

.hire-btn {
  background-color: #00c6e0;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.hire-btn:hover {
  background-color: #00eaff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #b6e9f0;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00eaff;
}

.nav-links a.active {
  color: #00eaff;
  position: relative;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #00eaff;
}